

#form
{
	width: 500px; 
	background-color: lightyellow;
	text-align: left;
	font-size: 40px;
	letter-spacing: 20px;
}
#table
{
	width: 500px; 
	background-color: lavender;
	text-align: center;
	position: absolute;top: 600px;
}